@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% {
        --gradient-angle: 330deg;
    }
    25% {
        --gradient-angle: 15deg;
    }
    50% {
        --gradient-angle: 60deg;
    }
    75% {
        --gradient-angle: 104deg;
    }
    100% {
        --gradient-angle: 329deg;
    }
}

:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --clr-1: rgb(21, 20, 20);
    --clr-3: rgb(223, 225, 107);
    --clr-4: rgb(11, 189, 229);
    --clr-5: rgb(165, 239, 239);
    --clr-6: rgb(112, 203, 225);
    --clr-7: rgb(100, 189, 213);
    --clr-8: rgb(151, 176, 176);
    --clr-9: rgb(102, 107, 107);
    --clr-10: rgb(94, 134, 146);
    --clr-11: rgb(112, 130, 130);
    --clr-12: rgb(144, 146, 146);
    --clr-13: rgb(117, 118, 118);
    --clr-14: rgb(45, 24, 0);
    --clr-15: rgb(7, 5, 28);
    --clr-16: rgb(9, 8, 8);
    --clr-17: rgb(20, 1, 13);
    --clr-18: rgb(44, 26, 6);
    --clr-19: rgb(4, 3, 29);
    --clr-20: rgb(20, 1, 13);
    --clr-21: rgb(55, 54, 54);
}

body{
    display: grid;
    margin: 0px;
    padding: 0px;
}

.sunny{
    display: grid;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.sunny::before,
.sunny::after {
    display: grid;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-6)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.sunny::after{
    filter: blur(10.5rem);
}
.partly-cloudy{
    display: grid;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.partly-cloudy::before,
.partly-cloudy::after {
    display: grid;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-6),
        var(--clr-7),
        var(--clr-8),
        var(--clr-9)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.partly-cloudy::after{
    filter: blur(1.5rem);
}

.overcast{
    display: grid;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.overcast::before,
.overcast::after {
    display: grid;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-10),
        var(--clr-11),
        var(--clr-12),
        var(--clr-13)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.overcast::after{
    filter: blur(1.5rem);
}


.night-clear{
    display: grid;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.night-clear::before,
.night-clear::after {
    display: grid;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-14),
        var(--clr-15),
        var(--clr-16),
        var(--clr-17)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.night-clear::after{
    filter: blur(1.5rem);
}


.night-cloudy{
    display: grid;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.night-cloudy::before,
.night-cloudy::after {
    display: grid;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-18),
        var(--clr-19),
        var(--clr-20),
        var(--clr-21)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.night-cloudy::after{
    filter: blur(1.5rem);
}