@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% {
        --gradient-angle: 330deg;
    }
    25% {
        --gradient-angle: 15deg;
    }
    50% {
        --gradient-angle: 60deg;
    }
    75% {
        --gradient-angle: 104deg;
    }
    100% {
        --gradient-angle: 329deg;
    }
}

:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --clr-1: rgb(21, 20, 20);
    --clr-3: rgb(223, 225, 107);
    --clr-4: rgb(11, 189, 229);
    --clr-5: rgb(165, 239, 239);
    --clr-6: rgb(112, 203, 225);
    --clr-7: rgb(100, 189, 213);
    --clr-8: rgb(151, 176, 176);
    --clr-9: rgb(102, 107, 107);
    --clr-10: rgb(94, 134, 146);
    --clr-11: rgb(112, 130, 130);
    --clr-12: rgb(144, 146, 146);
    --clr-13: rgb(117, 118, 118);
    --clr-14: rgb(45, 24, 0);
    --clr-15: rgb(7, 5, 28);
    --clr-16: rgb(9, 8, 8);
    --clr-17: rgb(20, 1, 13);
    --clr-18: rgb(44, 26, 6);
    --clr-19: rgb(4, 3, 29);
    --clr-20: rgb(20, 1, 13);
    --clr-21: rgb(55, 54, 54);
    --clr-22: rgb(211, 206, 206);
    --clr-23: rgba(211, 206, 206, 0.06);
    color: var(--clr-22);
    max-width: 100vw;
}

body{
    display: grid;
    margin: 0px;
    padding: 0px;
}

.sunny{
    display: grid;
    height: 100vh;
    width: 100vw;
    color: var(--clr-1);
    position: relative;
}
.sunny::before,
.sunny::after {
    display: grid;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-6)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.sunny::after{
    filter: blur(10.5rem);
}
.partly-cloudy{
    display: grid;
    height: 100vh;
    width: 100vw;
    color: var(--clr-22);
    position: relative;
}
.partly-cloudy::before,
.partly-cloudy::after {
    display: grid;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-6),
        var(--clr-7),
        var(--clr-8),
        var(--clr-9)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.partly-cloudy::after{
    filter: blur(1.5rem);
}

.overcast{
    display: grid;
    height: 100vh;
    width: 100vw;
    color: var(--clr-22);
    position: relative;
}
.overcast::before,
.overcast::after {
    display: grid;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-10),
        var(--clr-11),
        var(--clr-12),
        var(--clr-13)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.overcast::after{
    filter: blur(1.5rem);
}


.night-clear{
    display: grid;
    position: relative;
    color: var(--clr-22);
    height: 100vh;
    width: 100vw;
}
.night-clear::before,
.night-clear::after {
    display: grid;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-14),
        var(--clr-15),
        var(--clr-16),
        var(--clr-17)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.night-clear::after{
    filter: blur(1.5rem);
}


.night-cloudy{
    display: grid;
    height: 100vh;
    width: 100vw;
    position: relative;
    color: var(--clr-22);
}
.night-cloudy::before,
.night-cloudy::after {
    display: grid;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        var(--gradient-angle),
        var(--clr-18),
        var(--clr-19),
        var(--clr-20),
        var(--clr-21)
    );
    animation: rotation 60s linear infinite;
    content: "";
    inset: 0;
}
.night-cloudy::after{
    filter: blur(1.5rem);
}

#weather-div{
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#city-form{
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#city-input{
    display: grid;
    position: relative;
    background-color: transparent;
    color: var(--clr-22);
    z-index: 9999;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-radius: 1vw;
    border-color: var(--clr-22);
    border-style: solid;
    border-width: 0.5px;
}
#city-input:focus{
    border-width: 1px;
    outline-color: var(--clr-22);
    outline-style: inset;
}

#location-data{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: large;
    z-index: 9999;
    font-weight: bold;
}

#location-coords{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size:small;
    font-style: italic;
    font-weight: lighter;
}

#general-condition{
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-weight: bolder;
    font-size: larger;
}

#temp-div{
    z-index: 99999;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 2.5vw;
}

#temp{
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    font-size: 10vh;
}

#temp-mode-change{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    transition: 0.5s;
    padding: min(1vw);
    margin: min(1vw);
    border-radius: 2vw;
}


#temp-mode-change:hover{
    background-color: var(--clr-23);
}

#feels-like{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    z-index: 9999;
}

#last-update{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
    font-weight: light;
    font-style: italic;
    z-index: 999;
}

#minor-stats{
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    grid-template-columns: auto auto;
    gap: min(3vw);
    text-align: center;
    border-radius: 2vw;
    border-color: var(--clr-22);
    border-width: 1px;
    border-style: solid;
    padding: min(2vw);
    font-size: medium;
    font-weight: light;
}

#humidity{
    display: grid;
}